<form class="form-layout col" id="workout_form">
  {% csrf_token %}
  <div class="controls_container">
      <div>
        <div class="select_container row">
          <select class="workout">
            <option value="custom">Custom Workout</option>
            {% for workout in workouts %}
              <option value="{{ workout }}">{{ workout }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <span class="material-symbols-outlined routine_help workout_tooltip">
        help
      </span>
      <div id="workout_tooltip">To create or edit exercises, workouts, or your routine, go to settings.</div>
    </div>

    <div id="exercises">
      <div id="placeholder">Please select a workout or add an exercise to get started.</div>
    </div>
    <div class="controls_container">
      <div>
        <div class="select_container">
          <select class="exercise">
            {% for exercise in exercises %}
              <option>{{ exercise }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
        
      <div>
        <button class="add_exercise controls" value="add exercise">Add Exercise</button>
      </div>
        
      <div>
        <button class="save_workout controls" value="save workout">Save Workout Session</button>
      </div>
    </div>
</form>