{% extends "workout/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{% static 'workout/css/index.css' %}">
{% endblock %}

{% block body %}
<form class="form-layout col" id="workout_form">
  {% csrf_token %}
  <div class="controls_container">
    <div>
      <div class="select_container">
        <select class="workout">
          <option value="Custom" >Custom Workout</option>
          {% for workout in workouts %}
            <option value="{{ workout.name }}">{{ workout.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
      
    <div>
      <button class="edit_workouts controls">Edit Workouts</button>
    </div>
      
    <div>
      <button class="edit_routines controls">Edit Routines</button>
    </div>
  </div>

  <div id="exercises">
    <div id="placeholder">Please select an exercise routine or add an exercise to get started.</div>
  </div>
  <div class="controls_container">
    <div>
      <div class="select_container">
        <select class="exercise">
          {% for exercise in exercises %}
            <option>{{ exercise.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
      
    <div>
      <button class="add_exercise controls" value="add exercise">Add Exercise</button>
    </div>
      
    <div>
      <button class="save_workout controls" value="save workout">Save Workout Session</button>
    </div>
  </div>
</form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'workout/js/index.js' %}"></script>
{% endblock %}