<div class="set">
  <div class="set_number">
  Set {{ i|add:1 }}:
  </div>
  <div>
    <div>
    <input type="number" class="weight" size="4" step=".5" >
    </div>
    <div>
    Lbs.
    </div>
  </div>
  <div>
    <div>
    <input type="number" class="reps" size="2">
    </div>
    <div>
    Reps
    </div>
  </div>
  <div id="delete_set">
    <button class="delete delete_set">
      <span class="material-symbols-outlined delete delete_set">
        delete
      </span>
    </button>
  </div>
</div>
