{% extends "users/form-wrapper.html" %}
{% load static %}


{% block form %} 
  <div class="login-form">
    <h1 id="login-header">Log In</h1>
    <form class="form-layout row wrap" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="form-layout username">
        {{ form.username.label }}
        {{ form.username }}
      </div>
      <div class="form-layout password">
        {{ form.password.label }}
        {{ form.password }}
      </div>
      <div class="form-layout remember_me">
        {{ form.remember_me }}
        Remember Me
      </div>
      <button id="login-button" name="login" type="submit">Login</button>
      <div id="register-link">
        Need an account?
        <a href="{% url 'registration' %}" data-text="Sign Up!">Sign Up!</a>
      </div>
    </form>
  </div>
{% endblock %}
  