{% extends "users/form-wrapper.html" %}
{% load static %}

{% block form %} 
  <div class="form">
  {% if message %}
    {{ message }}
  {% endif %}
    <h1 id="header">Register</h1>
    <form class="form-layout" id="registration_form" action="{% url 'registration' %}" method="POST">
      {% csrf_token %}
      <div class="form-layout username-registration">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <hr>
      <div class="row">
        <div class="form-layout first-name">
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
        </div>
        <div class="form-layout last-name">
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-layout password-registration">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        <div class="form-layout confirm-password">
          {{ form.confirm_password.label_tag }}
          {{ form.confirm_password }}
        </div>
      </div>
      <hr>
      <div class="form-layout email">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <hr>
      <div class="row">
        <div class="form-layout" id="height">
          {{ form.height.label_tag }}
          {{ form.height }}
        </div>
        <div class="form-layout" id="weight">
          {{ form.weight.label_tag }}
          {{ form.weight }}
        </div>
        <div class="form-layout" id="age">
        {{ form.age.label_tag }}
        {{ form.age }}
      </div>
      </div>
      <hr>
      <div class="form-submit">
        <button id="register_button" name="register" type="submit">Complete Registration</button>
      </div>
    </form>
    <div id="form-error"></div>
  </div>
  <script type="text/javascript" src="{% static 'users/js/registration.js' %}"></script>
{% endblock %}