.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: .25rem;
  height: 2rem;
  
  max-width: 100%;
}

.form {
  margin-top: 20%;
  background-color: rgba(20, 55, 94, .7);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px 3px  rgba(0, 0, 0, .5);
  width: auto;
}

.form-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 20rem;
  width: 100%;
  gap: .6rem;
}

.form-layout.login {
  justify-content: center;
}



.form-layout > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-submit {
  align-self: center;
  justify-self: center;
}

#remember_me {
  width: 1rem;
  height: 1rem;
}

#remember_me:hover {
  cursor: pointer;
}

.remember_me {
  align-items: center;
  gap: .5rem;
} 

label {
  font-size: 1.2rem;
}

.form-submit {
  width: 100%;
}

button:hover  {
  transition: all .3s ease-in;
  background-color: #14375e;
}

#form-error {
  color: red;
  margin-top: .25rem;
}

#login_button {
  padding: .25rem 1rem;
  background-color: #1f538d;
  color: rgb(250, 250, 250);
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  border: 2px solid black;
  margin-top: 1rem;
  width: 100%;
  max-width: 50%;
}

#login_button:hover {
  transition: all .3s ease-in;
  background-color: #14375e;
  cursor: pointer;
}
